ApplicationName:QloudSync
HomeFolderName:StorageQloud
NotificationsEnabled:true
Tmp:.tmp
SuffixNameBucket:-default
StorageHost:s.greenqloud.com
StoragePort:443
AuthenticationURL:https://manage.greenqloud.com/api/v1/account-keys/
Trash:.trash/
Tmp:.tmp
BacklogFile:backlog.xml
LogFile:log.txt
UploadTimeout:3600000
IntervalBetweenChecksRemoteRepository:20000
RunningVersion:RC 1.2.2a
IntervalBetweenChecksStatistics:3600000
DatabaseFile:QloudSync.db
DatabaseFolder:Db
DatabaseInfoFile:db.info
DatabaseVersion:3.2
AvailableOSXVersion:10.7