<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="ApplicationName" value="QloudSync"/>
        <add key="NotificationsEnabled" value="true" />
        <add key="Tmp" value=".tmp"/>
        <add key="SuffixNameBucket" value="-default"/>
        <add key="StorageURL" value="https://s.greenqloud.com/"/>
        <add key="AuthenticationURL" value="https://manage.greenqloud.com/api/v1/account-keys/"/>
        <add key="Trash" value=".trash/"/>
        <add key="Tmp" value=".tmp"/>
        <add key="BacklogFile" value="backlog.xml"/>
        <add key="LogFile" value="log.txt"/>
        <add key="UploadTimeout" value="3600000"/>
        <add key="IntervalBetweenChecksRemoteRepository" value="30000"/>  
    </appSettings>
</configuration>
tion>
