ApplicationName@QloudSync
HomeFolderName@StorageQloud
NotificationsEnabled@true
Tmp@.tmp
SuffixNameBucket@-default
StorageHost@s.greenqloud.com
StoragePort@443
AuthenticationURL@https://manage.greenqloud.com/api/v1/account-keys/
AuthenticationURLReseller@https://manage.greenqloud.com/api/v1/account-keys/get_user_keys_reseller/
UseAsReseller@False
Trash@.trash/
BacklogFile@backlog.xml
LogFile@log.txt
UploadTimeout@3600000
IntervalBetweenChecksRemoteRepository@20000
RunningVersion@RC 3.1
IntervalBetweenChecksStatistics@3600000
DatabaseFile@QloudSync.vdb4
DatabaseFolder@Db
DatabaseInfoFile@db.info
DatabaseVersion@3
AvailableOSXVersion@10.7